@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#dif-shape{
    overflow-x: visible;
    overflow-y: visible;
}
.shared-display2{
    justify-content: space-between;
    align-items: center;
    /* padding-right: 150px; */
    padding-left: 150px;
}
.shared-display{
    display: flex;
}
.nav-items{
    list-style: none;
    padding-right: 30px;
    padding-bottom: 1px;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}
.nav-edit{
    border-radius: 10px; 
    border: 1px solid #FFFFFF;   
}
.nav-links{
    margin: 0;
    padding: 0;
}
.size{
    font-size: 1rem;
    font-weight: 100;
}
.text-white{
    color: #FFFFFF;
}
.orange{
    background-color: #E6533C;
    border-radius: 10px;
    padding: 6px 20px 6px 20px;
}
.brand{
    color: #E6533C;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;
}
.bg{
    background-color: rgba(17, 17, 17, 1);
    
}
.bg-deepgrey{
    background-color: #222222;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 18px;
}
.bg-left{
    font-weight: bolder;
    font-size: 35px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-size: 78px;
}
.button{
    margin-top: 10px;
}
.btn{
    padding: 8px 50px 8px 50px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 42px;
    
}
.primary{
    background-color: #E6533C;
    color: #FFFFFF;
    
}
.secondary{
    background-color: black;
    color: #FFFFFF;
}
.images{
    position: relative;
}
.images img{
    max-width: 400px;
    margin-right: 150px;
}
.info-box{
    position: absolute;
    background-color: rgba(48, 48, 48, 0.54);
    color: #FFFFFF;
    border-radius: 5px;
    
}
.text-new{
    font-size: 13px;
    font-weight: 100;
    display: inline-block;

}
.top{
    margin-top: -460px;
    margin-left: 200px;
    font-size: 30px;
    padding: 10px 40px 10px 20px;
    

}
.bottom{
    margin-top: -180px;
    margin-left: -80px;
    font-size: 30px;
    padding: 0px 60px 0px 20px;
}
.button-circle{
    background-color:#E6533C;
    border: none;
    color: #E6533C;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px 10px 15px 10px;
  }
.button5{
    border-radius: 100%;
}

.habit-items{
    text-align: center;
    padding: 50px; 
    margin-bottom: 20px;
}
.habit-item{
    font-size: 30px;
    font-weight: bold;
}
.habit-para{
    margin-bottom: 50px;
}
.habit-change{
    margin-left: 50px;
    margin-right: 50px;
}
.round-shape img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.habit-new{
    font-size: 14px;
    font-weight: 100;
}
.run-detail{
    justify-content: space-between;
    align-items: center;
}
.run img{
    height: 300px;
    width: 300px;
    /* margin: 40px 70px 33px; */
    /* padding-left: 150px; */
    border-radius: 18px;
    object-fit: none;
    object-position: 67% 30%;

}
.run-head{
    font-size: 48px;
}
.run-left{
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    color: #FFFFFF;
    
}
.run-btn{
    background-color:#E6533C;
    color: #FFFFFF;
    padding: 10px 60px 10px 60px;
    border-radius: 40px;
}
.run{
    padding: 40px 40px 40px 40px;
    margin-left: 50px;
}
.row img{
    height: 100%;
    width: 100%;
}
.row{
    display: flex;
}
.display-chal{
    display: flex;
    background-color: #222222;
}
.display-chal-2{
    background-color: #222222;
    
}
.grid-item-1 img{
    height: 100%%;
    width: 60%;
}
.grid-item-2 img{
    width: 150%;
    margin-right: 100px;
}
.grid-para{
    margin-top: -100px;
    font-weight: bold;
    font-size: 8px;
    opacity: 1;
}
.grid-info{
    margin-bottom: 30px;
}
.grid{
    padding-left: 150px;
    padding-right: 150px;
    
}
.grid-head{
    margin-top: 80px;
}

.overlay-1{
    background-color: rgba(6, 255, 210, 0.5);
}
.overlay-2{
    background-color: rgba(255, 0, 0, 0.3);
    padding-right: 150px;
}
.overlay-3{
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-4{
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-5{
    background-color: rgba(66, 255, 0, 0.3);
}
.overlay-6{
    background-color: rgba(0, 71, 255, 0.3);
}
.overlay-1 img{
    opacity: 0.5;
}
.overlay-2 img{
    opacity: 0.5;
}
.overlay-3 img{
    opacity: 0.5;
}
.overlay-4 img{
    opacity: 0.5;
}
.overlay-5 img{
    opacity: 0.5;
}
.overlay-6 img{
    opacity: 0.5;
}
.team{
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.team-head{
    text-align: center;
}

.team-img{
    padding: 10px 5px 0px 20px;
}
.team-back{
    background-color: #222222;
    border-radius: 18px;
    margin-right: 15px;

}
.team-img img{
    height: 280px;
    width: 280px;
    border-radius: 18px;
    
}
.team-row img{
    margin-bottom: 10px;
}
.team-text{
    margin-top: -55px;
    margin-left: 5px;
    color: #FFFFFF;

}
.bg-2{
 
    padding-top: 30px;
}
.footer{
    padding-bottom: 10px;
}
.footer-left{
    margin-left: 150px;
}
.footer-left > p{
    margin-top: -30px;
}
.footer-items{
    display: flex;
}
/* .footer{
    padding-left: 200px;
    padding-right: 200px;
} */
.footer-detail-1, .footer-detail-2{
    padding-left: 20px;
    margin-top: 30px;
      
}
.footer-detail-2{
    margin-left: 70px;
}
.footer-detail-1{
    margin-right: 20px;
    margin-left: 106px;
    
}
.footer-head{
    font-size: 30px;
}
.footer-item{
    list-style: none;
    padding-top: 15px;
    font-size: 15px;
}
.brand-2{
    font-size: 50px;
    font-weight: bold;
}
.last{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 5px;
}
hr{
    padding-left: 180px;
    padding-right: 180px;

}
.table-head{
    color: #FFFFFF;
    margin-left: 300px;
}
table{
    border-collapse: collapse;
    margin-left: 160px;
    margin-right: 200px;
    margin-bottom: 50px;
    color: #FFFFFF;
}
td{
    border: 1px solid #FFFFFF;
    font-size: 14px;
    color: #FFFFFF;
    padding: 18px;
}
.table-right{
    color: #FFFFFF;

}
.form{
    color: #FFFFFF;
}
.form input{
    background-color: #222222;

}
.form select{
    background-color: #222222;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;

}
.form-select{
    padding: 18px 185px 18px 5px ;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 8px;
}
.form-select-2{
    padding: 18px 368px 18px 5px ;
    margin-top: 10px;
    border-radius: 8px;

}
.form-input input{
    padding: 18px 85px 18px 5px;
    border-radius: 8px;
    margin-right: 5px;
}
.form-input-2 input{
    padding: 18px 85px 18px 5px;
    border-radius: 8px;
    
}
.form-head{
    font-size: 28px;
}
.btn-cal{
    color: #FFFFFF;
    background-color: #E6533C;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 42px;
    padding: 12px 55px 12px 55px;
}
.menu{
    display: none;
}
@media screen and (max-width: 576px){
    .nav-items{
        display: none;
    }
    .nav-edit{
        border: none;
    }
    .menu{
        display: block;
        border-radius: none;
        margin-left: 220px;

        
    }
    .media-shared{
        flex-direction: column;
    }
    .navbar{
        margin-left: -120px;
    }
    .banner-item{
        margin-left: -120px
    }
    .banner-title, .brand{
        font-size: 30px;
    }
    .size{
        font-size: 10px;
        padding-right: 120px;
    }
    .button{
        display: flex;
        
    }
    .btn{
        padding: 10px 50px 10px 50px;
    }
    .primary{
        margin-right: 5px;
    }
    .primary,.secondary{
        font-size: 10px;
    }
    .images img{
        height: 140%;
        width: 140%;
        margin-left: -90px;
    }
    .info-box, .habit-item, .form-head{
        font-size: 20px;
    }
    .overlay-3, .overlay-6{
        display: none;
    }
    .grid{
        margin-left: -120px;
    }
    .text-new, .habit-new{
        font-size: 8px;
    }
    .habit-para{
        margin-right: 50px;
        margin-left: 50px;
    }
    .top{
        margin-top: -510px;
        margin-left: 100px;
        padding: 20px 20px 20px 20px;
    }

    .bottom{
        margin-top: -320px;
        margin-left: -80px;
        padding: 10px 20px 10px 20px;
    }
    .bg-deepgrey{
        margin-left: 20px;
        margin-right: 20px;

    }
    .run-head{
        font-size: 32px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .run-btn{
        margin-left: 50px;
    }
    .run{
        padding: 5px 60px 20px 5px;
    }
    .table-head{
        margin: 10px 0px 10px 30px;
    }
    table{
        margin-left: 20px ;
    }
    td{
        border: 1px solid #FFFFFF;
        font-size: 12px;
        color: #FFFFFF;
        padding: 50px;
    }
    .form{
        margin-left: 10px;
    }
    .form-input input{
        padding: 20px 10px 20px 8px;
    }
    .form-input-2 input{
        padding: 20px 10px 20px 8px
    }
    .form-select{
        padding: 20px 110px 20px 8px
    }
    .form-select-2{
        padding: 20px 220px 20px 8px
    }
    .form-2{
        margin-left: 10px;
    }
    .team-head{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-back{
        padding-left: 10px;
    }
    .team{
        padding-left: 20px;
        padding-right: 20px
    }
    .footer{
        margin-left: -120px;

    }
    .footer-detail-1, .footer-detail-2{
        margin-left: 130px;
    }
    hr{
        margin-left: 20px;
        margin-right: 120px;
    }
}